<%= render "shared/header" %>
<div class="main-top-content" >
  <%= image_tag "IMG_9122-Edit3.jpg", class:"main-top-image" %>
</div>

<div class="main">

  <div class="trip-lists">
    <%= render "trip_list" %>
  </div>

</div>