a {
  color: #333 !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}

.main-top-content {
  position: relative;
}
.main-top-image-l {
  width: 100vw;
}
.main-top-image-m {
  display: none;
}
.main-top-image-s {
  display: none;
}
.main-top-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-top-text-l {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #CE8D75;
}
.main-top-text-s {
  text-align: center;
  color: #9B7E71;
  line-height: 1.1em;
  margin-top: 2em;
}

.main {
  max-width: 1280px;
  width: 96vw;
  margin: 0 auto;
  padding: 5em 0;
}

.trip-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.trip-list {
  display: block;
  width: 32%;
  margin: .5%;
  padding: 1em;
  background-color: #f9f9f9;
  transition: all 0.3s ease-in-out;
}

.trip-list:hover {
  background-color: #f5f8fa;
  transition: all 0.3s ease-in-out;
}

.trip-image {
  position: relative;
  width: 100%;
  margin-bottom: .5em;
}
.trip-image:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.trip-image-pic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.trip-title {
  font-size: larger;
  font-weight: bolder;
}
.trip-date {
  padding: .2em 0;
}
.trip-members {
  display: flex;
  flex-wrap: wrap;
  padding: .2em 0;
}
.trip-member {
  padding-left: 10px;
  font-size: smaller;
}
.trip-memo {
  padding: .2em 0;
}

@media (max-width: 960px) {
  * {
    font-size: 97%;
  }
  .main-top-image-l {
    display: none;
  }
  .main-top-image-m {
    display: block;
    width: 100vw;
  }
  .main-top-image-s {
    display: none;
  }
  .main-top-text-l {
    font-size: 28px;
  }
  .trip-list {
    width: 49%;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 94%;
  }
  .main-top-image-l {
    display: none;
  }
  .main-top-image-m {
    display: none;
  }
  .main-top-image-s {
    display: block;
    width: 100vw;
  }
  .main-top-text-l {
    font-size: 25px;
  }
  .trip-list {
    width: 98%;
  }
  .trip-member {
    padding-left: 5px;
  }
}