.show-main {
  max-width: 1080px;
  width: 96vw;
  margin: 0 auto;
  padding: 7em 40px;
}


.show-trip {
  padding: 20px;
  margin-bottom: 3em;
  background-color: #f5f8fa;
}

.show-trip-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.show-trip-title {
  font-size: larger;
  padding-left: 10%;
}

.show-trip-edit {
  padding-right: 6%;
}

.show-trip-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-trip-left {
  width: 20%;
  text-align: center;
}

.show-trip-right {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}


.show-plan-list {
  height: 3em;
  border-radius: .2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EFD6C3;
}
.show-plan-list-add {
  width: 50%;
  height: 3em;
  margin: 0 auto;
  border-radius: .2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EFD6C3;
}
.show-plan-daily {
  font-weight: 500;
}

.show-spots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.show-spots-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.show-spot {
  width: 100%;
  padding: 0.5em 3%;
  border-bottom: .5px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-spot-time {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #CE8D75;
}

.show-spot-start-time {
  height: 1.2em;
  line-height: 1.2;
  font-weight: 500;
}

.show-spot-end-time {
  height: 1.2em;
  line-height: 1.2;
  font-weight: 500;
}

.show-spot-category {
  width: 30px;
  text-align: center;
  color: #CE8D75;
}


.show-spot-main {
  width: calc(95% - 210px);
  font-size: larger;
  font-weight: 500;
}


.show-spot-fee {
  width: 80px;
  text-align: right;
}

.show-spot-editor {
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.show-spot-editor a {
  color: #777 !important;
}

.show-spot-new {
  padding: 10px;
}

@media (max-width: 500px) {
  .show-main {
    padding: 6em 10px;
  }
  .show-trip {
    padding: 5px 5px 15px 5px;
  }
  .show-spot {
    padding: 0.4em 1%;
  }
  .show-spot-time {
    width: 40px;
  }
  .show-spot-category {
    width: 20px;
  }
  .show-spot-main {
    width: calc(98% - 150px);
    font-size: larger;
    font-weight: 500;
  }
  .show-spot-fee {
    width: 50px;
    text-align: right;
  }
  .show-spot-editor {
    width: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .show-spot-new {
    padding: 0;
  }
}