.modal-dialog {
  width: 90vw !important;
  max-width: 800px !important;
  margin: 5vh auto !important;
}

.modal-dialog-plan {
  margin: 36vh auto !important;
  max-width: 300px !important;
}

.modal-content {
  border: none !important;
  border-radius: .8rem !important;
  background-color: rgba(239, 214, 195, 0.9) !important;
}

.registration-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #EFD6C3;
  height: 100vh;
}

.form-wrap {
  width: 100%;
}

.form-wrap-plan {
  width: 100%;
  background-color: none;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  font-weight: bold;
}

.form-group {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: .6em;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  width: 6em !important;
  font-weight: 500;
}

.form-group-date {
  width: calc(100% - 6em);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: .6em;
}

.form-group-member {
  width: calc(100% - 6em);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.image-input-btn {
  background-color: #f5f5f5;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}
.trip-image-label {
  width: calc(100% - 6em);
  max-height: 18em;
}
.trip-image-btn {
  position: relative;
  width: 100%;
  max-width: 32em;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
}
.trip-image-btn:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.profile-image {
  display: none;
}
.form-trip-image {
  display: none;
}

.image-list {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}
.trip-image-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.input-default {
  width: calc(100% - 6em);
  height: 2.8em;
  padding: 4px 12px 4px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  resize: none;
}
.input-date {
  width: 100%;
  min-width: 0px;
  height: 2.8em;
  padding: 4px 12px 4px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  resize: none;
}
.input-members {
  width: 100%;
}
.input-day {
  width: 5em;
  height: 2em;
  padding: 0 6px;
  border: none;
  border-radius: 4px;
  margin: 0 .5em;
  background: rgb(255, 255, 255);
  resize: none;
}

.input-member {
  width: 100%;
  min-width: 0px;
  height: 2.8em;
  padding: 4px 12px 4px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  resize: none;
  margin-top: .5em;
}

.register-btn {
  width: 25%;
  margin: 0 auto;
  padding-top: 2.8em;
}
.register-red-btn {
  width: 100%;
  background: #CE8D75;
  border: none;
  color: #fff;
  line-height: 3.5em;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 4em;
}
.register-day-btn {
  background: #CE8D75;
  padding: .3em .8em;
  border: none;
  margin-left: 1em;
  color: #fff;
  cursor: pointer;
}
.register-fin-btn {
  display: block;
  background: #C8DFE6;
  padding: .6em 1.2em;
  border: none;
  color: #fff !important;
  line-height: 2em !important;
  font-weight: 500 !important;
  font-size: larger;
  cursor: pointer;
  text-align: center;
}

.trip-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-area {
  height: 120px !important;
}

.add-member {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .form-group-date {
    display: flex;
    flex-direction: column;
  }
  .input-day {
    height: 1.8em;
  }
  .register-day-btn {
    padding: .2em .6em;
  }
  .register-fin-btn {
    padding: .3em .6em;
  }
}