.modal-dialog {
  width: 90vw !important;
  max-width: 800px !important;
  margin: 5vh auto !important;
}

.modal-dialog-plan {
  margin: 36vh auto !important;
  max-width: 300px !important;
}

.registration-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 100%;
  background-color: white;
  padding-bottom: 70px;
}

.form-wrap-plan {
  width: 100%;
  background-color: white;
  padding: 30px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.form-group-date {
  display: flex;
  align-items: center;
  width: calc(100% - 6em);
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  width: 6em !important;
  font-weight: 500;
}

.form-group-date {
  width: calc(100% - 6em);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.image-input-btn {
  background-color: #f5f5f5;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.profile-image {
  display: none;
}

.image-list {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.input-default {
  width: calc(100% - 6em);
  height: 2.8em;
  padding: 4px 12px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.input-date {
  width: 100%;
  min-width: 0px;
  height: 2.8em;
  padding: 4px 12px 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  padding-top: 2.8em;
}

.register-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.trip-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.input-area {
  height: 120px !important;
}

.add-member {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .form-group-date {
    display: flex;
    flex-direction: column;
  }
}