.top-page-header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  z-index: 10;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-logo {
  height: 3.2em;
}

.header-list-right {
  display: flex;
  align-items: center;
  margin: 0;
}

.header-list-right li {
  padding: 0 10px;
  display: flex;
}
.header-btn {
  color: #CE8D75 !important;
  padding: .4em .8em;
  border: solid 1px #CE8D75;
}

.header-user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-user-name {
  color: #333;
  font-weight: 500;
  padding-right: .5em;
}

.header-user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}

.user-info-list {
  position: absolute;
  width: 150px;
  top: 80px;
  right: 10px;
  background-color: #ccc;
}

.hidden {
  display: none;
}

@media (max-width: 500px) {
  .top-page-header {
    padding: 5px 8px;
  }
  .header-list-right li {
    padding: 0 5px;
    display: flex;
  }
  .header-user-name {
    display: none;
  }  
  .header-user-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
  }
  .user-info-list {
    top: 60px;
  }
}