.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.user-info-right {
  padding-left: 30px;
}

.user-name {
  font-size: 20px;
  font-weight: bolder;
}

.user-id {
  padding-left: 0.5em;
}